.navbar-brand {
    text-decoration: none;
    text-wrap: nowrap;
}

.navbar-nav {
    list-style: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: gray;
}